{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        integrant {:mvn/version "0.8.0"}

        ;; logs
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ;org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
        ;org.apache.logging.log4j/log4j-api {:mvn/version "2.13.3"}
        ;org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"}

        ;; server
        ring/ring-core {:mvn/version "1.8.0"}
        ring-middleware-format {:mvn/version "0.7.4"}
        ring/ring-json {:mvn/version "0.5.0"}
        http-kit {:mvn/version "2.4.0-alpha6"}
        bidi {:mvn/version "2.1.6"}

        ;; others
        me.raynes/fs {:mvn/version "1.4.6"}
        ;cljstache {:mvn/version "2.0.5"}

        org.apache.pdfbox/pdfbox {:mvn/version "2.0.20"}
        selmer {:mvn/version "1.12.23"}
        danlentz/clj-uuid {:mvn/version "0.1.9"}
        jarohen/chime {:mvn/version "0.3.2"}
        metosin/jsonista {:mvn/version "0.2.5"}
        ;de.redsix/pdfcompare {:mvn/version "1.1.50"}
        }
 ;:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {ring/ring-devel {:mvn/version "1.8.0"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}
                               peridot {:mvn/version "0.5.2"}}}
           :runner {:extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                    :main-opts ["-m" "cognitect.test-runner"
                                "-d" "test"]}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "api.jar" "-C" "-m" "api.core"]}}}